#banner-div {
    background-image: url('../images/banner.jpg');
}


#pointing-menu {
    border: none;
}

div.tile {
    background-color: #0E566C;
    border-radius: 10px;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    text-align: center;
}

div.tile i {
    color: white;
    margin-top: 45px;
    font-size: 40px;
}

a, a:hover, a:link, a:active {
    text-decoration: none;
}

ul.sidebar {
    margin-top: 20px;
    padding-right: 35px;
}
ul.sidebar li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-top-20{
    margin-top: 20px;
}
